<footer class="footer">
  <p>Winner of the runner-up prize for the 2013 Tizen Devlab and Hack event in New York.</p>
  <p>
	  <a href="https://play.google.com/store/apps/details?id=com.brooklyngamery.prismshell" class="footer-logo">
		  <img src="{{ site.baseurl }}/assets/img/logo-google.png">
	  </a>
	  <a href="https://itunes.apple.com/us/app/prism-shell/id1003087840?ls=1&mt=8" class="footer-logo">
		  <img src="{{ site.baseurl }}/assets/img/logo-apple.svg">
	  </a>
  </p>
  <p>Prism Shell is a <a href="http://brooklyngamery.com">Brooklyn Gamery</a> product. Contact us at <a href="mailto:hello(at)brooklyngamery.com?subject=Hello!&body=Hi! P.S. Make sure you change the (at) to @ in our email address!">hello(at)brooklyngamery.com</a> or on <a href="http://twitter.com/brooklyngamery">Twitter</a>. <a href="/presskit/projects/prism-shell/">Press Kit</a></p>
</footer>
